@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&family=Righteous&display=swap'); */

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Parkinsans", sans-serif;
}

#hero{
    padding:  0 15%;
    overflow: hidden;
}

/* Header */ 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
    animation:  topIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay:  0.2s;
}
.header-logo{
    font-size: 32px;
    font-weight: 800;
    color: #01b3b8; 
    cursor:  pointer;
}

.header-logo span {
    color: #228feb; 
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-items{
    font-size: 15px;
    font-weight: 500;
    color: grey;
    cursor: pointer;
    transition: 0.2s;
}
.nav-items:hover{
    color: #01b3b8
}

.header-cta-btn{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 25px;
    background-color: #01b3b8;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    border:  2px solid #01b3b8;
}

.header-cta-btn:hover{
    background-color: #037c81;
}

/* Hero Content */

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    padding-top: 75px;
    padding-bottom: 75px;
}

.left-content{
    display: flex;
    align-items: center;
}

.left-content h1{
    font-size: 3.8rem;
    font-weight: 800;
    color:  black;
    line-height: 1.1;
    margin-bottom: 30px;
    animation:  bottomIn 1s ease-in-out forwards;
    opacity: 0;
}

h1 span{
    color: #01b3b8;
}

.left-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color: grey;
    margin-bottom: 30px;
    width: 80%;
    animation:  bottomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay:  0.3s;
}

.big-cta-btn{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: transparent;
    color: #01b3b8;
    border:  2px solid #01b3b8;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    animation:  bottomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay:  0.4s;
}

.big-cta-btn:hover{
    background-color: #037c81;
    color: white;
}

.hero-img {
    width: 100%;
    animation:  zoomIn 1.2s ease-in-out forwards;
    opacity: 0;
    animation-delay:  0.2s;
}

/* Animations */ 
@keyframes bottomIn {
        from   {
            transform: translateY(500px);
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
}
@keyframes topIn {
    from   {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    from   {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/*Cards*/

#service {
    padding: 10%;
    background-color: #f5f8f4bd;
    overflow: hidden;
}

.section-title{
    font-size: 2.5rem;
    color: #228feb;
    text-align: center;
    margin-bottom: 60px;
    animation: topIn 1s ease-in-out forwards;
    opacity: 0;
    animation-duration: 0.2s;
}

.service-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    
}

.card{
    height: 280px;
    width: 300px;
    border: 2px solid #01b3b8;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgb(48, 137, 105, 0.5);
    animation: zoomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.card-icn{
    font-size: 4rem;
    color: #228feb;
    margin-bottom: 20px;
}
.card-title{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
}

.card-info{
    font-size: 16px;
    font-weight: 500;
    color: grey;
}

.card-btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #228feb;
    padding: 8px 15px;
    border-radius: 8px;
    position: absolute;
    bottom: 30px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.card-btn:hover{
    background-color: #42a0ec;
    transition: 0.2s;
}

/*About us Sectiom*/

#about{
    padding: 75px 15%;
    overflow: hidden;
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lef-about-content {
    display: flex;
    align-items: center;
}

.about-pic{
 width: 100%; 
 animation: zoomIn 1.2s ease-in-out forwards;
 opacity: 0;
 animation-delay: 0.2s;
}

.right-about-content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    color: grey;
    margin-bottom: 30px;
}

#about .section-title{
    text-align: left;
}

.about-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #228feb;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.about-btn:hover{
    background-color: #42a0ec;
    transition: 0.2s;
}

/*Booking */

#booking {
    padding:  75px 15%;
    overflow: hidden;
    background-color: #f5f8f4bd;
}

.booking-content{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.right-booking{
    display: flex;
    justify-content: end;
    align-items: center;
}
.booking-img{
    width: 60%;
    animation: zoomIn 1 ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.lef-booking{
    display: flex;
    align-items: center;
}
.input-wrap{
    display: flex;
    flex-direction: column;
    border: 2px solid #228feb;
    border-radius: 20px;
    padding: 50px 30px;
    width: 100%;
}
.input-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #42a0ec;
    margin-bottom: 50px;

}
 #booking input {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    border: 2px solid #01b3b8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
 }

 .submit-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    width: 50%;
    text-align: center;
    background-color: #228feb;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
 }
 .submit-btn:hover{
    background-color: #42a0ec;
    transition: 0.2s;
 }
 .btn-cont{
    display: flex;
    justify-content: center;
 }

/*Footer*/

#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 15%;
    background-color: #e0dfdfd6;
}

#footer div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.footer-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}
.footer-item{
    font-size: 16px;
    font-weight: 500;
    color: grey;
    cursor: pointer;
    transition: 0.3s;
}

.footer-item i{
    width: 20px;
}

#copyright{
    padding: 5px;
    background-color: #228feb;
    color: white;
}
#copyright p{
    text-align: center;
}

.footer-item:hover{
    color: rgb(101, 96, 79);
    transition: 0.2s;
}




/*Responsive CSS --- deberia ir en otro css, pero quiero test*/

/*mOBILE*/
@media screen and (max-width: 428px){
    #hero{
        padding:  10px 3%;
    }
    header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .nav-items{
        font-size: 18px;
    }
    .header-cta-btn{
        font-size: 20px;
    }
    .hero-content {
        display: block;
        padding-top: 10px;
        position: relative;
    }

    .left-booking{
        padding-top: 30px;
        text-align: center;
    }
    .left-content h1{
        font-size: 3rem;
        
    }
    .left-content p {
        font-size: 18px;
        width: 100%;
    }
    .hero-img {
        width: 80%;
        position: absolute;
        top: 40px;
        left: 10%;
    }
    
    /*Section cards*/ 

    #service {
        padding: 50px 3%;
    }
    .service-card{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;  
    }
    .card{
        height: 280px;
        width: 250px;
    }

    /*About us*/

    #about{
        padding: 75px 3%;
        
    }

    .about-content{
        display: flex;
        flex-direction: column; 
        gap: 40px;
    }

    /*Booking*/

    #booking {
        padding:  40px 3%;
    }
    .booking-content{
        gap: 20px;
    }
    .booking-img{
        display: none;
    }

    .input-wrap{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    /*Footer*/
    #footer{
        grid-template-columns: 1fr 1fr;
        padding: 50px 4%;
        row-gap:50px;
    }
    



}

/*Tablet */
@media screen and (min-width: 429px) and (max-width: 1279px){
    #hero{
        padding:  10px 3%;
    }
    header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .nav-items{
        font-size: 20px;
    }
    .header-cta-btn{
        font-size: 22px;
    }
    .hero-content {
        display: block;
        padding-top: 120px;
        position: relative;
    }

    .left-content{
        padding: 2rem;
        padding-top: 300px;
    }
    .left-content h1{
        font-size: 2.5rem;
        
    }
    .left-content p {
        font-size: 22px;
        width: 100%;
    }
    .hero-img {
        width: 80%;
        position: absolute;
        top: 40px;
        left: 10%;
    }
    .big-cta-btn{
        font-size: 20px;
    }
    /* Services cards section */
    #service {
        padding: 2%;
        background-color: #f5f8f4bd;
        overflow: hidden;
    }
    
    .section-title{
        font-size: 3rem;
    }
    
    .service-card{
        grid-template-columns: 2fr;
        place-items: center;
    }
    .card{
        margin-bottom: 30px;
    }

     /*About us*/

     #about{
        padding: 75px 3%;
        
    }

    .about-content{
        display: flex;
        flex-direction: column; 
        padding: 2rem;
        gap: 40px;
    }

    .right-about-content p{
        font-size: 20px;
    }
    
    .about-btn{
        font-size: 20px;
    }

       /*Booking*/

    #booking {
        grid-template-columns: 1fr;
        place-items: center;
    }
    .booking-content{
        display: flex;
        flex-direction: column;
    }
    .booking-img{
        display: none;
    }

    .input-wrap{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    #booking input {
        font-size: 20px;
     }
    
     .submit-btn{
        font-size: 20px;
     }
      /*Footer*/
    #footer{
        grid-template-columns: 1fr 1fr;
        padding: 50px 4%;
        row-gap:50px;
    }
    .footer-item{
        font-size: 20px;
    }
    #copyright{
        font-size: 20px;
        margin-bottom: 0;
    }



}

/* Desktop */
@media screen and (min-width: 1280px) and (max-width: 1919px){
    #hero{
        padding:  0 10%;
        overflow: hidden;
    }
}